<header>
    <div class="cont">
        <h1>SaveDoc</h1>
        <div class="op" (click)="showop()">
            <div class="palo1"></div>
            <div class="palo2"></div>
            <div class="palo3"></div>
        </div>
    </div>
    <nav (click)="showop()">
        <div class="opt" (click)="reset()">
            <p>Resetear anteproyecto</p>
        </div>
        <div class="opt" routerLink="/">
            <p>Cerrar Sesion</p>
        </div>
    </nav>
</header>
<div class="aviso">
    <h1>Espere estamos reestableciendo todo</h1>
</div>