<router-outlet></router-outlet>
<footer>
    <div class="autor">
        <strong>Autos</strong>
        <p>Carlos Enrique Riascos Angulo</p>
    </div>
    <div class="info-personal">
        <strong>Redes Sociales</strong>
        <p class="linkk" onclick="window.location.href = 'https://www.facebook.com/carlos.riascos.313'">Facebook</p>
        <p class="linkk" onclick="window.location.href = 'https://www.instagram.com/'">Instagram</p>
        <p class="linkk" onclick="window.location.href = 'https://www.reddit.com/'">Reddit</p>
    </div>
</footer>