<div class="container">
    <div class="list-items">
        <ng-template ngFor let-x [ngForOf]="itemss" let-i="index">
            <div class="item" *ngIf="x.enviado">
                <strong>{{x.nombreItem}} </strong>
                <div class="apro" *ngIf="x.aprovado == false">
                    <p>Aprobar</p>
                </div>
                <div class="del">
                    <img src="/assets/image/delete.svg">
                </div>
            </div>
        </ng-template>
    </div>
    <div class="view-item">
        <div class="doc">
            <div class="view"></div>
        </div>
        <div class="barra">
            <div class="opt">
                <div class="sug"></div>
                <div class="cor"></div>
            </div>
            <textarea></textarea>
        </div>
    </div>
</div>