<div class="container">
    <article>
        <div class="info">
            <h1>SaveDoc</h1>
            <h2>Plataforma para crear y gestionar anteproyectos</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam tenetur optio at veniam nobis distinctio
                est
                natus? Itaque delectus natus expedita voluptas voluptatibus maxime cum accusamus laboriosam, in quia
                magni.
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur tempora molestias ducimus sapiente, vel
                totam, itaque perferendis aut repudiandae doloremque iusto, commodi ea tenetur quos? Temporibus
                consequuntur
                laudantium vitae optio.</p>
        </div>
        <div class="logreg">
            <div class="login">
                <h1>Login</h1>
                <div class="input">
                    <input type="email" class="lemail" placeholder="Escriba su email">
                </div>
                <div class="input">
                    <input type="password" class="lpass" placeholder="Escriba su contraseña">
                    <div class="icon1"></div>
                </div>
                <button (click)="loginc()">Login</button>
            </div>
        </div>
    </article>
</div>